body {
	font-family: "Lato", sans-serif;
	color: #747704;
	font-weight: 300;
}

.pic {
	margin-top: 20px;
    width: 128px;
    height: 128px;
}

.muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.big-title {
	font-size: 64px;
}

.portfolio-item {
	cursor: pointer;
}
